<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chyang.androidapidome">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- UI start -->
        <activity android:name=".view.UIMainActivity" />
        <activity android:name=".view.activity.CanvasDomeActivity" />
        <activity android:name=".view.activity.GLTextureActivity" />
        <activity
            android:name=".view.activity.MaterialTextToolbarActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".view.activity.XScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" ></activity>
        <!-- UI end -->
        <!-- service start -->
        <activity android:name=".Service.DomeServiceActivity" />

        <service android:name=".Service.DomeService">
            <intent-filter>
                <action android:name="com.chyang.service" />
            </intent-filter>
        </service>
        <!-- service end -->


        <!-- jni start -->
        <activity android:name=".jni.DomeJniActivity" />
        <!-- jni end -->
        <activity android:name=".opencv.OpenCvDomeActivity" />

    </application>

</manifest>